@import 'tailwindcss';

@theme {
  --color-bck: #181818;
  --color-txt: rgba(235, 235, 235, 0.64);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
